.show_our_coffee div.box {
    margin-bottom:25px
}

.show_our_coffee img {
    border-radius: 10px
}

.img_and_content {
    position:relative
}

.isPopular {
    position:absolute;
    left:30px;
    top:10px;
    background-color: #F6C768;
    font-size:12px;
    padding:4px 10px;
    border-radius:8px;
    color: #111315;
    font-weight:bold
}

.subtitle_and_price {
    display:flex;
    justify-content:space-around;
    margin-top:16px
}

.subtitle_and_price span:first-child {
    color: #FEF7EE;
}
.subtitle_and_price span:last-child {
    background-color: #BEE3CC;
    font-size:12px;
    padding:4px;
    border-radius:4px;
    font-weight:bold;
    color: #1B1D1F
}
.feedbacks {
    display:flex;
    gap:10px;
    margin:10px 0 0 40px
}
.feedbacks span:first-child {
    color: #FEF7EE;
    font-size:12px;
    margin-right:6px;
}

.feedbacks span:last-child {
    color: #6F757C;
    font-size:12px;
}